## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)
print(application_df.head())

  APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0              T10       Independent          C1000    ProductDev
1               T3       Independent          C2000  Preservation
2               T5  CompanySponsored          C3000    ProductDev
3               T3  CompanySponsored          C2000  Preservation
4               T3       Independent          C1000     Heathcare

   ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS  ASK_AMT  \
0   Association       1              0                      N     5000
1  Co-operative       1         1-9999                      N   108590
2   Association       1              0                      N     5000
3         Trust       1    10000-24999                      N     6692
4         Trust       1  100000-499999                      N   142590

   IS_SUCCESSFUL
0              1
1              1
2              0
3              1
4              1

In [3]:
# Determine the number of unique values in each column.
unique_values_counts = application_df.nunique()
print(unique_values_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
cutoff_value = 1000
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
cutoff_value = 1500
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_application_df = pd.get_dummies(application_df)

In [11]:
# Split our preprocessed data into our features and target arrays
from sklearn.model_selection import train_test_split
X = encoded_application_df.drop(columns=["IS_SUCCESSFUL"])
y = encoded_application_df["IS_SUCCESSFUL"]
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.2)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
nn = Sequential()
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=80, activation='relu', input_dim=X_train.shape[1]))

# Second hidden layer
nn.add(Dense(units=30, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3280

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,741
Trainable params: 5,741
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[tf.keras.callbacks.ModelCheckpoint("AlphabetSoupCharity.h5", save_weights_only=True, save_freq='epoch', period=5)], verbose=2)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

Epoch 1/50
858/858 - 3s - loss: 0.5717 - accuracy: 0.7210 - 3s/epoch - 4ms/step
Epoch 2/50
858/858 - 2s - loss: 0.5588 - accuracy: 0.7282 - 2s/epoch - 2ms/step
Epoch 3/50
858/858 - 1s - loss: 0.5549 - accuracy: 0.7299 - 1s/epoch - 2ms/step
Epoch 4/50
858/858 - 1s - loss: 0.5543 - accuracy: 0.7309 - 1s/epoch - 2ms/step
Epoch 5/50
858/858 - 1s - loss: 0.5528 - accuracy: 0.7309 - 1s/epoch - 1ms/step
Epoch 6/50
858/858 - 1s - loss: 0.5507 - accuracy: 0.7317 - 1s/epoch - 2ms/step
Epoch 7/50
858/858 - 1s - loss: 0.5505 - accuracy: 0.7332 - 1s/epoch - 2ms/step
Epoch 8/50
858/858 - 1s - loss: 0.5499 - accuracy: 0.7336 - 1s/epoch - 1ms/step
Epoch 9/50
858/858 - 1s - loss: 0.5493 - accuracy: 0.7342 - 1s/epoch - 2ms/step
Epoch 10/50
858/858 - 2s - loss: 0.5491 - accuracy: 0.7330 - 2s/epoch - 2ms/step
Epoch 11/50
858/858 - 3s - loss: 0.5483 - accuracy: 0.7344 - 3s/epoch - 3ms/step
Epoch 12/50
858/858 - 1s - loss: 0.5480 - accuracy: 0.7344 - 1s/epoch - 1ms/step
Epoch 13/50
858/858 - 2s - loss: 0.5472 - accuracy: 0.7357 - 2s/epoch - 2ms/step
Epoch 14/50
858/858 - 1s - loss: 0.5471 - accuracy: 0.7335 - 1s/epoch - 2ms/step
Epoch 15/50
858/858 - 1s - loss: 0.5468 - accuracy: 0.7352 - 1s/epoch - 1ms/step
Epoch 16/50
858/858 - 1s - loss: 0.5461 - accuracy: 0.7359 - 1s/epoch - 1ms/step
Epoch 17/50
858/858 - 1s - loss: 0.5464 - accuracy: 0.7349 - 1s/epoch - 2ms/step
Epoch 18/50
858/858 - 2s - loss: 0.5459 - accuracy: 0.7360 - 2s/epoch - 2ms/step
Epoch 19/50
858/858 - 2s - loss: 0.5454 - accuracy: 0.7365 - 2s/epoch - 2ms/step
Epoch 20/50
858/858 - 1s - loss: 0.5452 - accuracy: 0.7362 - 1s/epoch - 2ms/step
Epoch 21/50
858/858 - 1s - loss: 0.5451 - accuracy: 0.7354 - 1s/epoch - 2ms/step
Epoch 22/50
858/858 - 1s - loss: 0.5446 - accuracy: 0.7373 - 1s/epoch - 2ms/step
Epoch 23/50
858/858 - 1s - loss: 0.5446 - accuracy: 0.7369 - 1s/epoch - 1ms/step
Epoch 24/50
858/858 - 1s - loss: 0.5447 - accuracy: 0.7367 - 1s/epoch - 1ms/step
Epoch 25/50
858/858 - 1s - loss: 0.5445 - accuracy: 0.7369 - 1s/epoch - 2ms/step
Epoch 26/50
858/858 - 1s - loss: 0.5440 - accuracy: 0.7372 - 1s/epoch - 1ms/step
Epoch 27/50
858/858 - 2s - loss: 0.5435 - accuracy: 0.7370 - 2s/epoch - 2ms/step
Epoch 28/50
858/858 - 2s - loss: 0.5436 - accuracy: 0.7367 - 2s/epoch - 2ms/step
Epoch 29/50
858/858 - 1s - loss: 0.5437 - accuracy: 0.7368 - 1s/epoch - 1ms/step
Epoch 30/50
858/858 - 1s - loss: 0.5434 - accuracy: 0.7371 - 1s/epoch - 1ms/step
Epoch 31/50
858/858 - 1s - loss: 0.5436 - accuracy: 0.7373 - 1s/epoch - 1ms/step
Epoch 32/50
858/858 - 2s - loss: 0.5433 - accuracy: 0.7362 - 2s/epoch - 2ms/step
Epoch 33/50
858/858 - 1s - loss: 0.5429 - accuracy: 0.7372 - 1s/epoch - 1ms/step
Epoch 34/50
858/858 - 1s - loss: 0.5432 - accuracy: 0.7376 - 1s/epoch - 1ms/step
Epoch 35/50
858/858 - 1s - loss: 0.5425 - accuracy: 0.7372 - 1s/epoch - 1ms/step
Epoch 36/50
858/858 - 2s - loss: 0.5425 - accuracy: 0.7365 - 2s/epoch - 2ms/step
Epoch 37/50
858/858 - 2s - loss: 0.5426 - accuracy: 0.7377 - 2s/epoch - 2ms/step
Epoch 38/50
858/858 - 1s - loss: 0.5426 - accuracy: 0.7375 - 1s/epoch - 1ms/step
Epoch 39/50
858/858 - 1s - loss: 0.5424 - accuracy: 0.7369 - 1s/epoch - 2ms/step
Epoch 40/50
858/858 - 2s - loss: 0.5423 - accuracy: 0.7375 - 2s/epoch - 2ms/step
Epoch 41/50
858/858 - 3s - loss: 0.5421 - accuracy: 0.7375 - 3s/epoch - 3ms/step
Epoch 42/50
858/858 - 2s - loss: 0.5415 - accuracy: 0.7383 - 2s/epoch - 3ms/step
Epoch 43/50
858/858 - 4s - loss: 0.5417 - accuracy: 0.7376 - 4s/epoch - 5ms/step
Epoch 44/50
858/858 - 3s - loss: 0.5417 - accuracy: 0.7371 - 3s/epoch - 3ms/step
Epoch 45/50
858/858 - 2s - loss: 0.5417 - accuracy: 0.7378 - 2s/epoch - 2ms/step
Epoch 46/50
858/858 - 1s - loss: 0.5418 - accuracy: 0.7377 - 1s/epoch - 1ms/step
Epoch 47/50
858/858 - 1s - loss: 0.5412 - accuracy: 0.7387 - 1s/epoch - 1ms/step
Epoch 48/50
858/858 - 1s - loss: 0.5416 - accuracy: 0.7377 - 1s/epoch - 1ms/step
Epoch 49/50
858/858 - 1s - loss: 0.5415 - accuracy: 0.7370 - 1s/epoch - 2ms/step
Epoch 50/50
858/858 - 2s - loss: 0.5413 - accuracy: 0.7385 - 2s/epoch - 2ms/step

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5597 - accuracy: 0.7254 - 470ms/epoch - 2ms/step
Loss: 0.5597078204154968, Accuracy: 0.7253644466400146

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")